/* The Modal (background) */
.about-read-more {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.about-read-more__div {
  border-radius: 24px;
  background-color: $main-white;
  margin: auto;
  padding: 20px;
  border: 1px solid $border-color;
  background-image: url(../images/about/mobile/cow-mob.png);
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/about/mobile/cow-mob@2x.png);
    background-size: 280px 279px;
  }
  @media screen and (max-device-width: 1279px) {
    width: 80%;
  }
  @media screen and (min-device-width: 1280px) {
    width: 500px;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 500ms;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.about-read-more__close {
  color: $hero-circle-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 250ms linear;
}

.about-read-more__close:hover,
.about-read-more__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  color: $first-accent-color;
}

.about-read-more__p {
  white-space: pre-line;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: $hero-circle-color;
  padding: 2px 30px;
}
