.about-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* The Modal (background) */
.about-read-more {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 250ms linear;
}

/* Modal Content */
.about-read-more__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // overflow-y: auto; /* Enable scroll if needed */
  border-radius: 24px;
  background-color: $main-white;
  border: 1px solid $border-color;
  @media screen and (max-device-width: 767px) {
    width: 80%;
    height: 80%;
    padding: 50px 30px;
  }
  @media screen and (min-device-width: 768px) {
    width: 614px;
    padding: 60px 40px;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-read-more__p {
  text-align: center;
  height: 100%;
  overflow-y: auto;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: $main-black;
  padding: 2px 30px;
  transition: 250ms linear;
  &:hover,
  &:focus {
    color: $first-accent-color;
    transform: scale(1.1);
  }

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  // text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 19px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}