/* The Modal (background) */
.about-read-more {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: opacity 250ms linear, visibiluty 250ms linear;
  opacity: 1;

  &.about-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

/* Modal Content */
.about-read-more__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // overflow-y: auto; /* Enable scroll if needed */
  border-radius: 24px;
  background-color: $main-white;
  border: 1px solid $border-color;
  // background-image: url(../images/about/mobile/cow-mob.png);
  // background-repeat: no-repeat;
  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../images/about/mobile/cow-mob@2x.png);
  //   background-size: 280px 279px;
  // }
  @media screen and (max-width: 767px) {
    width: 60%;
    height: 70vh;
    padding: 30px 20px;
  }
  @media screen and (min-width: 768px) {
    width: 60%;
    // height: 80vh;
    padding: 50px 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 614px;
    padding: 40px 60px;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* The Close Button */
.about-read-more__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $main-white;
  cursor: pointer;
  color: $hero-bg-color;
  fill: currentColor;
  transition: fill 250ms linear, border-color 250ms linear;
  &:hover,
  &:focus {
    fill: $first-accent-color;
    border-color: $first-accent-color;
  }
}
.about-read-more__p {
  height: 100%;
  overflow-y: auto;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: $main-black;
  padding: 2px 30px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  // text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 19px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
