.advantages {
  padding-top: 40px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 84px;
    padding-bottom: 80px;
  }
  @media (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  background-color: #fff5f6;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 22px;
  }

  @media screen and (min-width: 768px) {
  }
}

.advantages__item {
  flex: 1 1 calc((100% - 60px) / 3);

  &::before {
    content: '';
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: block;

    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
}

.advantages__item--start::before {
  background-image: url(../images/advantages/icon1.png);
  width: 33px;
  height: 50px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/2xicon1.png);
  }
}

.advantages__item--center::before {
  background-image: url(../images/advantages/icon2.png);
  width: 50px;
  height: 50px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/2xicon2.png);
  }
}

.advantages__item--end::before {
  background-image: url(../images/advantages/icon3.png);
  width: 44px;
  height: 50px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages/2xicon3.png);
  }
}

.advantages__slogan {
  font-family: 'Titan One', sans-serif;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  padding-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 1.145;
    text-transform: none;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.137;
  }
}

.advantages__text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  @media (max-width: 767px) {
    max-width: 230px;
  }
  @media (min-width: 768px) {
    max-width: 180px;
    font-size: 14px;
    line-height: 1.714;
  }

  @media screen and (min-width: 1280px) {
    min-width: 317px;
    font-size: 16px;
    line-height: 1.75;
  }
}
