$main-white: #fff;
$main-black: #000;
$first-accent-color: #D41443;
$hero-bg-color: #FFB8CA;
$hero-circle-color: #FFA5BA;
$product-banana-color: #F0D1A5;
$product-green-color: #C2E297;
$paragraph-color: #907E82;
$bg-gradient-color: #FFF5F6;
$menu-bg-color: #E17992;
$border-color: #E1E1E1;