.container {
  margin: 0 auto;
  @media (max-width: 1199px) {
    padding: 0 20px;
  }
  @media (min-width: 1200px) {
    padding: 0 15px;
  }
  @media (min-width: 320px) {
    width: 320px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
