// .swiper {
//   height: 100%;
//   width: 100%;
// }
.swiper-wrapper {
  margin-bottom: 16px;
  box-sizing: border-box;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 32px;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  bottom: 0px;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  white-space: nowrap;
  // bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/customers/home_slider.svg);
  background-size: contain;
}

.customers-reviews {
  padding: 80px 0;
  @include desktop {
    padding: 120px 0;
  }

  &__foto {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    padding-bottom: 9px;

    @include tablet {
      max-width: 514px;
      padding-bottom: 8px;
    }
    @include desktop {
      max-width: 750px;
    }
    @include font(500, 12px, 2.55, null);
    text-align: center;
    @include tablet {
      @include font(null, 14px, 2.16, 0.04em);
    }
    @include desktop {
      @include font(null, 16px, 1.86, null);
    }

    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29.6px,
      $border-color 29.6px,
      $border-color 30.6px
    );
    &::before {
      content: '';
      display: inline-block;
      width: 54px;
      height: 40px;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 60px;
      }
      position: absolute;
      top: -13px;
      left: -12px;
      @include tablet {
        top: -17px;
        left: -45px;
      }
      @include desktop {
        top: -15px;
        left: -37px;
      }
      z-index: -1;

      background-image: url(../images/customers/mob/quotes.png);
      background-size: cover;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/customers/mob/quotes@2x.png);
      }
    }
    &-wraper {
      margin-bottom: 16px;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 4px;
      }
      padding-top: 43px;
      padding-bottom: 17px;
      padding-left: 65px;
      padding-right: 58px;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 51px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #fafafa66;
      }
      @include desktop {
        width: 1034px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 142px;
        padding-top: 47px;
        padding-bottom: 39px;
      }
      background-color: #fafafa;
    }
  }
  &__name {
    position: relative;
    margin-top: 16px;

    @include font(500, 14px, 1.86, null);
    text-align: center;

    @include tablet {
      @include font(null, 16px, null, null);
    }
    @include desktop {
      @include font(null, 20px, null, null);
    }
  }
}
.customers-reviews__card img {
  width: 85px;
  border-radius: 50%;
}

.markers {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #c1133e;
  &::before {
    content: '';
    position: absolute;
    left: 14px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #c1133e;
  }
  &::after {
    content: '';
    position: absolute;
    right: 14px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #c1133e;
  }
}
