.franchise-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* The Modal (background) */
.franchise {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 250ms linear;
}

/* Modal Content */
.franchise__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  border-radius: 24px;
  background-color: $main-white;

  border: 1px solid $border-color;
  @media screen and (max-device-width: 479px) {
    width: 80%;
    height: 100%;
    padding: 30px 20px;
  }
  @media screen and (min-device-width: 480px) and (max-device-width: 767px) {
    width: 80%;
    height: 100%;
    padding: 50px 30px;
  }
  @media screen and (min-device-width: 768px) {
    width: 614px;
  padding: 40px 60px;

  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* The Close Button */
.franchise__close {
  position: absolute;
  right: 8px;
  top: 8px;
  /* Button in the middle of franchise__div if needed */
  // @media screen and (max-device-width: 480px) {
  //   top: 50%;
  // }
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $main-white;
  cursor: pointer;
  color: $hero-bg-color;
  fill: currentColor;
  transition: 250ms linear;
  &:hover,
  &:focus {
    top: 15px;
    right: 15px;
    fill: $first-accent-color;
  }
}
.franchise__p {
  height: 100%;
  overflow-y: auto;
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 10px;
  line-height: 31px;
  color: $hero-bg-color;
  &:hover,
  &:focus {
    color: $first-accent-color;
    transform: scale(1.1);
  }
}

.franchise__form {
  text-align: center;
}

.franchise__label {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: $first-accent-color;
}

.franchise__input {
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  @media screen and (max-device-width: 320px) {
    width: calc(100% - 20px);
  }
  height: 29px;
  border-radius: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-width: 0;
  border: 2px solid $first-accent-color;
  &:focus,
  &:hover {
    border: 2px solid $hero-circle-color;
    transform: scale(1.1);
  }
}
.franchise__small {
  display: block;
}

.button__franchise-submit {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: $first-accent-color;
  cursor: pointer;
  border: none;
  width: 161px;
  @media screen and (max-device-width: 320px) {
    width: calc(100% - 20px);
  }
  height: 44px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: $main-white;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $hero-circle-color;
    transform: scale(1.1);
    animation: swing 0.25s linear;
    animation-iteration-count: 1;
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
