.gallery {
  width: 100%;
  background-image: linear-gradient(#fff5f6 40%, #fff 40%);
}

.grid {
  max-width: 1280px;
}

.grid-item {
  width: 200px;
  height: auto;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

