.gallery {
  width: 100%;
  background-image: linear-gradient(#fff5f6 40%, #fff 40%);
}
.grid-item {
  // background: #d26;
  border: 0.5px solid transparent;
  // border-color: hsla(0, 0%, 0%, 0.5);
  // border-radius: 5px;
  transition: transform 250ms ease;
  & img {
    border-radius: 5px;
  }
}
.grid-item:hover {
  transform: scale(1.5);
  z-index: 1;
  // position: absolute;
  // width: 35%;
}
@media screen and (max-device-width: 479px) {
  .grid-sizer,
  .grid-item {
    max-width: 50px;
  }
  .grid {
    max-width: 100%;
  }
}
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50px;
  }
  .grid {
    max-width: 100%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1279px) {
  .grid-sizer,
  .grid-item {
    width: 50px;
  }
  .grid {
    max-width: 100%;
  }
}
@media screen and (min-device-width: 1280px) {
  .grid-sizer,
  .grid-item {
    width: 70px;
  }
  .grid {
    max-width: 100%;
  }
}
