.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 12px 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    border: 0;

    border-radius: 22px;

    color: $first-accent-color;
    background-color: $main-white;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.header-btn__icon,
.menu-btn__icon {
    width: 1em;
    height: 1em;
    fill: $first-accent-color;
}

/////////////////////////////////////////////

.header {
    background-color: $hero-bg-color ;
}


.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    display: block;
    border-radius: 50px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: $first-accent-color;
}

.logo__text {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $first-accent-color;
}

.buttons-wrap {
    display: flex;
    gap: 32px;
    order: 2;
}

.menu__open-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    fill: $first-accent-color;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.menu__icon-open {
    background-size: cover;
}

.header__list {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
    }

}

.header__item:not(:last-child) {
    margin-right: 35px;
}

.header__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: $main-white;

    &:hover {
        color: $first-accent-color;
    }

    &:focus {
        color: $first-accent-color;
    }
}

.header-btn {
    @media screen and (max-width: 767px) {
        display: none;
    }
}