.products {
  padding-top: 80px;
  background-color: #ffffff;
  padding-bottom: 40px;
}
.products__heading {
  display: block;
  text-align: center;
  margin: auto;
}
p {
  margin: 0;
}
.products__lebel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: Titan One;
  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    padding-bottom: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    padding-bottom: 16px;
  }
}
.products__header {
  margin: auto;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  font-family: Titan One;
  @media (min-width: 768px) {
    // display: flex;
    font-size: 48px;
    line-height: 1.14;
  }
  @media (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.products__list {
  display: flex;
  padding: 0;
  flex-direction: column;
  @media (min-width: 768px) {
    // display: flex;
    gap: 16px;
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    gap: 32px;
  }
}
.non-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.products__link {
  flex-basis: calc((100% - 32px) / 3);
  position: relative;
  border-radius: 24px;
  padding-bottom: 40px;
  height: 100%;
  margin-top: 150px;
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  &--pink {
    background-color: #ffb8ca;
  }
  &--beige {
    background-color: #f0d1a5;
  }
  &--green {
    background-color: #c2e297;
  }
}

.products__depiction {
  padding-top: 160px;
  // padding-bottom: 40px;
  text-align: center;
}
.products__name {
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: Titan One;
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
  &::after {
    content: ' • • • ';

    display: block;
    color: #fff;
    padding-top: 32px;
  }
}

.products__title {
  //   padding: 235px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 1);
  // margin-top: 35px;
  margin-bottom: 32px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: DM Sans;
  @media (min-width: 768px) {
    // display: flex;
    line-height: 1.9;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}
h3 {
  margin: auto;
}

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  border: none;
  width: 40px;
  height: 40px;

  border-color: rgba(255, 255, 255, 0.2);
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  // margin-bottom: 40px;
  &:active {
    // background-color: #ffb8ca;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  &--beige:focus {
    background-color: #f0d1a5;
  }
  &--pink:focus {
    background-color: #ffb8ca;
  }
  &--green:focus {
    background-color: #c2e297;
  }
}
.products__icon {
  // padding-top: 2px;
  display: block;
  fill: #d41443;
}
.products__image {
  display: block;
  width: 100%;
  position: absolute;
  top: -30%;
  height: auto;
  @media (min-width: 768px) {
    top: -25%;
  }
  @media (min-width: 1200px) {
    top: -30%;
  }
}

.products__img {
  margin: 0 auto;
}
