.upward {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30%;
  right: 2vw;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 50%;
  background-color: $first-accent-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 250ms;
  @media screen and (min-width: 768px) {
    right: 4vw;
    width: 45px;
    height: 45px;
  }
  @media screen and (min-width: 1280px) {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: 2000px) {
    right: 15vw;
  }
  @media screen and (min-width: 2500px) {
    right: 23vw;
  }
  @media screen and (min-width: 3000px) {
    right: 28vw;
  }
  @media screen and (min-width: 4000px) {
    right: 33vw;
  }
}

.upward.active {
  bottom: 3%;
  visibility: visible;
  opacity: 1;
  @media screen and (min-width: 768px) {
    bottom: 5%;
  }
}

.upward__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upward__icon {
  fill: $main-white;
}
