<section class="about__section">
    <div class="container">
        <span class="about__label">tradition and love</span>
        <h2 class="about__title">how it’s made?</h2>
       
        <img class="about__img"
        srcset="./images/about/mobile/cow-mob.png 1x, ./images/about/mobile/cow-mob@2x.png 2x "
        src="./images/about/mobile/cow-mob.png"
        alt="cow and jug of milk"
        >
        <ul class="about__list null-list">
            <li class="about__item">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
            <li class="about__item">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</li>
            <li class="about__item">Aliquam erat volutpat. Aenean accumsan.</li>            
        </ul>
        <button type="button" class="about__btn" data-modal-open-about>Read more</button>
    </div>
</section>