<section class="section">
    <div class="container">
        <label class="about__label">
            tradition and love
            <h2 class="about__title">how it’s made?</h2>
        </label>
        <img 
        srcset="./images/about/mobile/cow-mob.png 1x, ./images/about/mobile/cow-mob@2x.png 2x "
        src="./images/about/mobile/cow-mob.png"
        alt="cow and jug of milk"
        >
        <ul>
            <li>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
            <li>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</li>
            <li>Aliquam erat volutpat. Aenean accumsan.</li>            
        </ul>
        <button type="button">Read more</button>
    </div>
</section>