<!-- The Modal -->
<div id="modalAboutReadMore" class="about-read-more">
  <!-- Modal content -->
  <div class="about-read-more__div">
    <span id="about-read-more__close">&times;</span>
    <p class="about-read-more__p">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis
      dignissimos consequuntur iure. Ad corrupti molestias, facilis atque
      tempora obcaecati inventore quam natus repellendus commodi delectus,
      perferendis facere eaque rerum, sequi soluta amet! Quaerat eius voluptas
      impedit! Repellendus similique reprehenderit adipisci natus voluptas,
      perferendis in odit alias aut sunt animi cumque ab ipsam veniam asperiores
      eligendi obcaecati quis. Quibusdam magnam ipsum expedita. Nihil quos
      reiciendis labore blanditiis similique nemo dolores. Nobis porro explicabo
      sint quam, placeat nisi commodi aperiam. Quibusdam dolorum a, quia sit
      placeat delectus aliquam blanditiis consequatur nisi?
    </p>
  </div>
</div>
