<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list null-list">
      <ii class="advantages__item">
        <div class="advantages__wrap1">
          <p class="advantages__slogan">721</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </ii>

      <ii class="advantages__item">
        <div class="advantages__wrap2">
          <p class="advantages__slogan">16kg</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </ii>

      <ii class="advantages__item">
        <div class="advantages__wrap3">
          <p class="advantages__slogan">84</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </ii>
    </ul>
  </div>
</section>
