<section class="section advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list null-list">
      <ii class="advantages__item advantages__item--start">
          <p class="advantages__slogan">721</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </ii>

      <ii class="advantages__item advantages__item--center">
          <p class="advantages__slogan">16kg</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </ii>

      <ii class="advantages__item advantages__item--end">
          <p class="advantages__slogan">84</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </ii>
    </ul>
  </div>
</section>
