<section class="contacts-section">
  <h2 class="visually-hidden">Our locations</h2>
  <div class="container">
    <ul class="contacts__list null-list">
      <li class="contacts__item">
        <span class="contact__place-type contact-span">Cafe</span>
        <h3 class="contact__place-header">Chicago</h3>
        <p class="contact__place-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contact__time-list null-list">
          <li class="contact__time-item">
            <span class="contact__days contact-span">Monday - Friday</span>
            <span class="contact__time contact-span">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact__time-item">
            <span class="contact__days contact-span">Saturday - Sunday</span>
            <span class="contact__time contact-span">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <a href="tel:+610383766284" class="contacts__link null-link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link null-link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <span class="contact__place-type contact-span">Foodtruck</span>
        <h3 class="contact__place-header">Los Angeles</h3>
        <p class="contact__place-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contact__time-list null-list">
          <li class="contact__time-item">
            <span class="contact__days contact-span">Monday - Friday</span>
            <span class="contact__time contact-span">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact__time-item">
            <span class="contact__days contact-span">Saturday - Sunday</span>
            <span class="contact__time contact-span">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <a href="tel:+61083766284" class="contacts__link null-link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link null-link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts__item">
        <span class="contact__place-type contact-span">Cafe</span>
        <h3 class="contact__place-header">New York</h3>
        <p class="contact__place-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contact__time-list null-list">
          <li class="contact__time-item">
            <span class="contact__days contact-span">Monday - Friday</span>
            <span class="contact__time contact-span">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contact__time-item">
            <span class="contact__days contact-span">Saturday - Sunday</span>
            <span class="contact__time contact-span">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <a href="tel:+610383766284" class="contacts__link null-link"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts__link null-link"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <div class="button-container">
      <button type="button" class="contact-button" data-modal-open>
        <span class="button-text">Our Locations</span>
        <svg class="button-icon" width="10" height="10">
          <use href="./images/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>
      <button type="button" class="contact-button" data-modal-open-franchise>
        <span class="button-text">Franchise</span>
        <svg class="button-icon" width="10" height="10">
          <use href="./images/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
