<section class="customers-reviews" id="reviews">
  <h1 class="visually-hidden">customers reviews</h1>
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/1.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I have loved ice cream since childhood. My world has changed
                since I found you. Thank you so much for the delicious ice
                cream.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Maksim 17y/o, Kherson</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/2.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                In summer I like to eat ice cream with my family. My kids love
                this ice cream. We recommend!)
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Taras 29y/o, Lviv</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/3.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I have always enjoyed your ice creams. They are of the best
                quality and rich in cream. Have a variety of products to enjoy
                from.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Vadim 37y/o, Kyiv</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/4.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Super tasty ice cream and cones. All of the flavors sounded
                great so I'll have to visit again. Perfect for the hot sunny
                weather.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Aleksey 38 y/o, Odessa</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/5.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I love eating ice cream when I walk with my son in the park. It
                is very refreshing in summer weather. We will eat it all the
                time.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Vyacheslav 40y/o, Kharkov</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/6.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I prefer lemon, chocolate, vanilla with nuts ice-cream in a big
                boxes, but melt.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Andriy 34y/o, Kiev</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/7.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I love your ice-cream and milkshakes. My favorite is a chocolate
                fudge! Summer days are super refreshing with your products!
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Maria 37y/o, Kiev</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/8.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Your ice cream is very tasty and I eat it even in winter. My
                child enjoys visiting your store. Thank you very much for such a
                delicious product.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Olga 32y/o, Kremenchuk</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <!-- <h6 class="visually-hidden">Ice cream customers reviews</h6> -->
            <!-- <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/9.jpg"
              alt="first-person"
            /> -->
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/8.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I love ice cream but this is my favorite. I can't tear myself
                away until I eat the bucket completely. They also have very
                tasty milkshakes.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Aleksandr 31 y/o, Kremenchuk</p>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
