<section class="customers-reviews">
  <h1 class="visually-hidden">customers reviews</h1>
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/1.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I have loved ice cream since childhood. My world has changed
                since I found you. Thank you so much for the delicious ice
                cream.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Maksim 17y/o, Kherson</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/2.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                In summer I like to eat ice cream with my family. My kids love
                this ice cream. We recommend!)
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Taras 29y/o, Lviv</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/3.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I have always enjoyed your ice creams. They are of the best
                quality and rich in cream. Have a variety of products to enjoy
                from.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Vadim 37y/o, Kyiv</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/4.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Super tasty ice cream and cones. All of the flavors sounded
                great so I'll have to visit again. Perfect for the hot sunny
                weather.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Aleksey 38 y/o, Odessa</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              src="./images/customers/foto-team/5.jpg"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                I love eating ice cream when I walk with my son in the park. It
                is very refreshing in summer weather. We will eat it all the
                time.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Vyacheslav 40y/o, Kharkov</p>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
