<section class="customers-reviews">
  <h1 class="visually-hidden">customers reviews</h1>
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              srcset="
                ./images/customers/first-person.png    1x,
                ./images/customers/first-person@2x.png 2x
              "
              src="./images/customers/first-person.png"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Emily, Los Angeles</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              srcset="
                ./images/customers/second-person.png    1x,
                ./images/customers/second-person@2x.png 2x
              "
              src="./images/customers/second-person.png"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Lili, New York</p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customers-reviews__card">
            <img
              class="customers-reviews__foto"
              srcset="
                ./images/customers/third-person.png    1x,
                ./images/customers/third-person@2x.png 2x
              "
              src="./images/customers/third-person.png"
              alt="first-person"
            />
            <div class="customers-reviews__text-wraper">
              <p class="customers-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="markers"></div>
            <p class="customers-reviews__name">Fren, Chicago</p>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
