<footer class="section-footer">
  <div class="footer__wrap container">
      <p class="fotter__first-text">homemade ice cream made</p>
      <p class="footer__seond-text">with<br> passion</p>
      <ul class="footer__list null-list">
        <li class="footer__item">
          <a
            class="footer__soc-link null-link"
            target="_blank"
            href="https://github.com"
          >
            <svg class="footer__soc-icon" width="18.82px" height="18.82px">
              <use href="./images/symbol-defs.svg#icon-github1"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__soc-link null-link"
            target="_blank"
            href="https://web.telegram.org/z/"
          >
            <svg class="footer__soc-icon" width="19.2px" height="14.93px">
              <use href="./images/symbol-defs.svg#icon-telegram1"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            class="footer__soc-link null-link"
            target="_blank"
            href="https://www.facebook.com/"
          >
            <svg class="footer__soc-icon" width="8,8px" height="19.2px">
              <use href="./images/symbol-defs.svg#icon-facebook1"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact">
        Feel free to contact &nbsp;<a
          class="footer__tell null-link"
          href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>    
    </div>
    <span class="footer__border"></span>
    <div class="container">
    <p class="footer__copyright">&#169; 2019 - IceCream.<br> All Rights Reserve</p>
  </div>
</footer>