<!-- The Modal -->
<div class="franchise" id="modalFranchise">

    <!-- Modal content -->
    <div class="franchise__div" id="franchiseDiv">
        <span class="franchise__close">&times;</span>
        <p class="franchise__p">IceCream franchise, has always believed in limitless possibilities. We stay a step ahead with innovation delivered directly to your customer’s window.
            The frozen desserts industry is a $28 billion industry that’s projected to grow to $32 billion over the next few years, according to Packaged Facts.

            IceCream franchise occupies a special niche in the frozen treats segment thanks to our unique product offering, seasonality and scalability.

            What began as a single drive-in restaurant in Kyiv, Ukraine, has become a beloved brand with more than 3,500 locations serving up moments of carefree indulgence every day. With a fun new look, flexible site designs and pent-up demand in markets nationwide, IceCream proves it
            has the ingredients to shine in any economy</p>
        <form class="franchise__form" autocomplete="off">
            <label class="franchise__label">
                Phone number
                <input type="tel" name="tel" autofocus class="franchise__input" placeholder="+123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
                <small class="franchise__small">Format: +123-456-7890</small>
            </label>
        </form>
        <button class="button__franchise-submit">Request a call-back</button>
    </div>
</div>
