<section class="gallery">
  <h1 class="visually-hidden">gallery</h1>
  <div class="container gallary-container">
    <div class="grid-item">
      <img
        src="../src/images/gallary/7.jpg"
        alt="photo ice-cream Smoked Sea Salt"
        class="gallery-pic"
      />
    </div>

    <div class="thumb-1">
      <div class="grid-item">
        <img
          src="../src/images/gallary/0.jpg"
          alt="photo ice-cream Mocha Macchiato"
          class="gallery-pic"
        />
      </div>

      <div class="grid-item">
        <img
          src="../src/images/gallary/4.jpg"
          alt="photo ice-cream Secret Breakfast"
          class="gallery-pic"
        />
      </div>
    </div>

    <div class="thumb-2">
      <div class="grid-item">
        <img
          src="../src/images/gallary/8.jpg"
          alt="photo ice-cream Government Cheese"
          class="gallery-pic huge-pic"
        />
      </div>

      <div class="grid-item">
        <img
          src="../src/images/gallary/2.jpg"
          alt="photo ice-cream Peanut Butter Curry"
          class="gallery-pic"
        />
      </div>
    </div>

    <div class="thumb-3">
      <div class="grid-item">
        <img
          src="../src/images/gallary/5.jpg"
          alt="photo ice-cream Elvis"
          class="gallery-pic"
        />
      </div>

      <div class="grid-item">
        <img
          src="../src/images/gallary/6.jpg"
          alt="photo ice-cream The Fat Years"
          class="gallery-pic"
        />
      </div>
    </div>

    <div class="thumb-4">
      <div class="grid-item">
        <img
          src="../src/images/gallary/9.jpg"
          alt="photo ice-cream Hibiscus Beet"
          class="gallery-pic"
        />
      </div>

      <div class="grid-item">
        <img
          src="../src/images/gallary/3.jpg"
          alt="photo ice-cream Carrot Mango"
          class="gallery-pic"
        />
      </div>
    </div>

    <div class="grid-item">
      <img
        src="../src/images/gallary/1.jpg"
        alt="photo ice-cream Jesus Juice"
        class="gallery-pic"
      />
    </div>
  </div>
</section>
