<!-- <section class="gallery">

    <div class="container">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer" }'>
            <div class="grid-sizer"></div>
            <div class="grid-item"><img src="../src/images/gallary/1.jpg" alt="photo ice-cream Jesus Juice" /></div>
            <div class="grid-item"><img src="../src/images/gallary/2.jpg" alt="photo ice-cream Peanut Butter Curry" /></div>
            <div class="grid-item"><img src="../src/images/gallary/3.jpg" alt="photo ice-cream Carrot Mango" /></div>
            <div class="grid-item"><img src="../src/images/gallary/4.jpg" alt="photo ice-cream Secret Breakfast" /> </div>
            <div class="grid-item"><img src="../src/images/gallary/5.jpg" alt="photo ice-cream Elvis" /> </div>
            <div class="grid-item"><img src="../src/images/gallary/6.jpg" alt="photo ice-cream The Fat Years" /> </div>
            <div class="grid-item"><img src="../src/images/gallary/7.jpg" alt="photo ice-cream Smoked Sea Salt" /> </div>
            <div class="grid-item"><img src="../src/images/gallary/8.jpg" alt="photo ice-cream Government Cheese" /></div>
            <div class="grid-item"><img src="../src/images/gallary/9.jpg" alt="photo ice-cream Hibiscus Beet" /> </div>
            <div class="grid-item"><img src="../src/images/gallary/0.jpg" alt="photo ice-cream Mocha Macchiato" /> </div>
    </div>

</section> -->