<header class="header">
    <div class="container">
        <div class="header__body">
            <a class="header__logo logo link" href="./index.html">
                <span class="logo__icon"></span>
                <span class="logo__text">ISECREAM</span>
            </a>
            <div class="header__burger">
                <span class="header__icon-menu"></span>
            </div>
            <nav class="header__menu">
                <div class="header__btn-wrap">
                    <button class="header__btn" type="button">Buy now</button>
                </div>
                <ul class="header__list list">
                    <li class="header__item">
                        <a class="header__link link" href="">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">How it’s made?</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">Our products</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci eaque illum autem perferendis ut natus, nobis
    et, sed eveniet maiores dicta cum eos esse in nihil iusto commodi aut a odio dolor ullam. At a officiis porro
    libero asperiores? Nostrum consectetur dolores hic voluptatibus perferendis impedit dolorem quidem rerum libero
    quaerat labore porro veniam ut minus, laudantium soluta, quia recusandae distinctio illum. Molestiae, officia
    magnam. Odio eligendi temporibus, assumenda fugiat quasi suscipit quas voluptas harum dolorem eum magni ad,
    deleniti nulla similique quisquam minima reiciendis distinctio porro. Ipsa distinctio tenetur porro rem eos
    laborum dolorem soluta voluptates magni. Esse dignissimos aliquam, soluta corrupti ipsa facere reiciendis magni
    dolores odio cumque, blanditiis nobis excepturi nulla! Nam reprehenderit inventore illum perspiciatis
    temporibus. Iusto, recusandae repellat! Accusantium alias facere, at aut error sapiente dolorem laudantium
    adipisci numquam quidem vitae maxime maiores rerum exercitationem id explicabo veritatis sit cumque inventore
    modi molestias officiis expedita! Nam optio, quaerat itaque, ea voluptas illo velit quibusdam doloremque
    doloribus saepe assumenda libero sed reprehenderit alias molestias laboriosam quasi cumque explicabo.
    Repudiandae consectetur quaerat autem, ratione, ullam placeat itaque fugiat debitis in reiciendis nisi, quis
    quam atque eius. Quaerat enim vitae alias nemo, nam atque fuga esse quis, eveniet dolor nobis repellendus ullam.
    Enim, quo ea. Est recusandae iure repellat doloribus vero magni quasi molestiae quod maiores. Deserunt cumque
    harum temporibus porro fugit molestiae debitis maiores saepe. Accusantium ullam perspiciatis magnam error esse
    est labore ad laborum, neque voluptatibus earum ipsa ipsam ducimus vitae? Id modi harum commodi earum dolorum.
    Quo ipsa omnis nulla consequatur deserunt cum quasi vero a, adipisci nemo voluptatum harum quibusdam quae
    repellat veritatis rerum, enim esse fugit minus facere dolor? Aspernatur voluptas necessitatibus laudantium
    pariatur aut laboriosam obcaecati quod cupiditate commodi voluptates eum ipsam nihil at esse optio, perspiciatis
    voluptatem aliquam! Asperiores rem dolorem doloribus explicabo accusamus odio blanditiis beatae repellat
    voluptatem eum in aspernatur, nesciunt ea quam incidunt, provident animi hic labore repudiandae iure. Soluta,
    praesentium minima sunt quam, perferendis optio dolore deleniti quaerat tenetur odit, consectetur id hic ipsa
    consequatur earum. Perferendis consequatur totam assumenda aut incidunt est tempora quod. Doloribus magni magnam
    facilis similique rem quibusdam dolorem ab corrupti voluptate itaque, nostrum accusamus? Aliquid nemo explicabo
    ratione id, fugiat vero debitis, in aperiam dolorem dolor laudantium eveniet vel reiciendis. Rem officia ea et
    nam! Placeat inventore eaque mollitia ipsum earum provident sapiente esse incidunt sed eius. Tempore repellat
    commodi, recusandae numquam sunt explicabo nam officia voluptatem fuga reiciendis beatae distinctio, provident
    expedita iusto quaerat laboriosam! Qui minus dolorem enim omnis maxime. Possimus est accusantium sunt amet nulla
    maxime doloremque rerum unde officiis ratione, velit culpa itaque, nihil deleniti quas praesentium? Eum
    recusandae quis, perspiciatis minus quisquam architecto assumenda soluta. Earum quisquam velit in ullam vel quas
    quis, atque nobis aspernatur impedit iusto blanditiis! Iusto officiis aperiam, unde voluptatum totam
    exercitationem dignissimos magni consequuntur quidem provident commodi voluptas! Eos ducimus accusantium
    obcaecati debitis explicabo dolore non, adipisci mollitia facere. Vitae eveniet sit iure modi fuga tempora, ab
    alias voluptas labore molestiae itaque?</p> -->
