<header class="header">
    <div class="container">
        <div class="header__body">
            <a class="header__logo logo link" href="./index.html">
                <span class="logo__icon"></span>
                <span class="logo__text">ISECREAM</span>
            </a>
            <div class="header__burger">
                <span class="header__icon-menu"></span>
            </div>
            <nav class="header__menu">
                <div class="header__btn-wrap">
                    <button class="header__btn" type="button">Buy now</button>
                </div>
                <ul class="header__list list">
                    <li class="header__item">
                        <a class="header__link link" href="">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">How it’s made?</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">Our products</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="js/mobile-menu.js"></script>
