<header class="header">
    <div class="container">
        <div class="header__body">
            <a class="header__logo logo null-link" href="./index.html">
                <img class="header__logo-icon" src="./images/icons/logo.png" alt="logo">
            </a>
            <div class="buttons-wrap">
                <button class=" menu__open-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <span class="menu__line"></span>
                </button>
                <button class="header-btn button" type="button">
                    <span class="header-btn__text">Buy now</span>
                    <svg class="header-btn__icon" width="4px" height="8px">
                        <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
                    </svg>
                </button>
            </div>
            <nav class="header__nav">
                <ul class="header__list null-list">
                    <li class="header__item">
                        <a class="header__link null-link" href="">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link null-link" href="">About us</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link null-link" href="">How it’s made?</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link null-link" href="">Our products</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link null-link" href="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</header>

<!-- -----------------------menu----------------------------------- -->

<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu__close-btn menu-toggle js-close-menu">
        <span></span>
    </button>
    <div class="menu__btn-wrap">
        <button class="menu__btn button" type="button">
            <span class="menu-btn__text">Buy now</span>
            <svg class="menu-btn__icon" width="4px" height="8px">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>

        </button>
    </div>
    <ul class="menu__list null-list">
        <li class="menu__item">
            <a class="menu__link null-link" href="">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">About us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">How it’s made?</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">Our products</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">Contact</a>
        </li>
    </ul>
</div>
<!-- ---------------------------------------------------------------------- -->
<script type="module" defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<script type="module" defer src="js/mobile-menu.js"></script>
