<section class="hero">
  <div class="container">
    <div class="hero__circle-thumb">
      <div class="hero__bg-thumb">
        <div class="hero__title-thumb">
          <h1 class="hero__title">
            ice cream<br />
            made with
            <span class="hero__title hero__title--bigger">passion</span>
          </h1>
          <ul class="hero__links-list null-list" >
            <li class="hero__links-item" header-data-modal-open>
              <a class="hero__link null-link hero__link--accent" href="#"
                >Products</a
              >
            </li>
            <li>
              <a class="hero__link null-link" href="#">How it’s made?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
