<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu__close-btn menu-toggle js-close-menu">
        <svg class="menu__icon-close" width="40px" height="40px">
            <use href="./images/symbol-defs.svg#icon-close_40px"></use>
        </svg>
    </button>
    <div class="menu__btn-wrap">
        <button class="menu__btn button" type="button">
            <span class="menu-btn__text">Buy now</span>
            <svg class="menu-btn__icon" width="4px" height="8px">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>

        </button>
    </div>
    <ul class="menu__list null-list">
        <li class="menu__item">
            <a class="menu__link null-link" href="">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">About us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">How it’s made?</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">Our products</a>
        </li>
        <li class="menu__item">
            <a class="menu__link null-link" href="">Contact</a>
        </li>
    </ul>
</div>
