<div class="backdrop is-hidden" data-modal>
  <div class="modal-loc">
    <button type="button" class="modal__btn" data-modal-close>
      <svg class="modal__close-icon">
        <use href="./images/symbol-defs.svg#icon-close_40px"></use>
      </svg>
    </button>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.5402928176694!2d36.23705623440696!3d50.00367617757525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0e7611bc8b5%3A0xc1d16611bc65c747!2z0KHRgtCw0YDQuNC6INCl0LXQvA!5e0!3m2!1sru!2sua!4v1653723592164!5m2!1sru!2sua"
        class="modal-map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</div>
