<section id="products" class="section products">
  <div class="container">
    <div class="products__heading">
      <p class="products__lebel">100% natural</p>
      <h2 class="products__header">Products</h2>
    </div>
    <ul class="products__list non-list">
        <li class="products__link products__link--pink">
            <div class="products__image">
                <img class="products__img" srcset="
                ./images/products/mobile/purpule-ice-mob.png     280w,
                ./images/products/mobile/purpule-ice-mob@2x.png  560w,
                ./images/products/tablet/purpule-ice-tab.png     224w,
                ./images/products/tablet/purpule-ice-tab@2x.png  448w,
                ./images/products/desktop/purpule-ice-desk.png   394w,
                ./images/products/desktop/purpule-ice-desk@2x.png 788w
              " src="./images/products/mobile/purpule-ice-mob.png" alt="" 
              sizes="(min-width: 1280px) 394px, (min-width:768px) 224px, 280px"/>
            </div>
            <div class="products__depiction">
                <h3 class="products__name">ice cream</h3>
                <p class="products__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis.
                </p>
                <button class="products__button products__button--pink products__button-active" type="button">
                    <svg class="icon products__icon" width="15" height="25">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </div>
        </li>
        <li class="products__link products__link--beige">
            <div class="products__image">
                <img class="products__img" srcset="./images/products/mobile/banana-ice-mob.png     280w,
                ./images/products/mobile/banana-ice-mob@2x.png  560w,
                ./images/products/tablet/banana-ice-tab.png     224w,
                ./images/products/tablet/banana-ice-tab@2x.png  448w,
                ./images/products/desktop/banana-ice-desk.png   394w,
                ./images/products/desktop/banana-ice-desk@2x.png 788w"
              src="./images/products/mobile/banana-ice-mob.png" alt="" sizes="(min-width: 1280px) 394px, (min-width:768px) 224px, 280px"/> </div>
            <div class="products__depiction">
                <h3 class="products__name">ice coffee</h3>
                <p class="products__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis.
                </p>
                <button class="products__button products__button--beige products__button-active" type="button">
                    <svg class="icon products__icon" width="15" height="25">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </div>
        </li>

        <li class="products__link products__link--green">
            <div class="products__image">
                <img class="products__img" srcset="./images/products/mobile/chcolate-ice-mob.png  280w,
                ./images/products/mobile/chocolate-ice-mob@2x.png  560w, 
                ./images/products/tablet/chocolate-ice-tab.png     224w,
                ./images/products/tablet/chocolate-ice-tab@2x.png 448w,
                ./images/products/desktop/chocolate-ice-desk.png   394w,
               ./images/products/desktop/chocolate-ice-desk@2x.png   788w "
              src="./images/products/mobile/chcolate-ice-mob.png" alt=""
              sizes="(min-width: 1280px) 394px, (min-width:768px) 224px, 280px"/> 
            </div>
            <div class="products__depiction">
                <h3 class="products__name">milkshakes</h3>
                <p class="products__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et. dolore magna aliqua
                    facilisis.
                </p>
                <button class="products__button products__button--green" type="button">
                    <svg class="icon products__icon" width="15" height="25">
                        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </div>
        </li>
    </ul>
  </div>
</section>
