<div>
  <ul class="null-list">
    <li>
      <div class="backdrop is-hidden" data-modal1>
        <div class="poduct-modal modal1">
          <button type="button" class="modal-close" data-modal-close1>
            <svg class="modal-close1__svg" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>
          </button>
          <ul class="poduct-modal__list list">
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="backdrop is-hidden" data-modal2>
        <div class="poduct-modal modal2">
          <button type="button" class="modal-close" data-modal-close2>
            <svg class="modal-close2__svg" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>
          </button>
          <ul class="poduct-modal__list list">
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="backdrop is-hidden" data-modal3>
        <div class="poduct-modal modal3">
          <button type="button" class="modal-close" data-modal-close3>
            <svg class="modal-close3__svg" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>
          </button>
          <ul class="poduct-modal__list list">
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
            <li>
              <p class="poduct-modal__text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt architecto molestias officiis hic delectus odit quos
                minima
              </p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
